<!-- wp:group {"layout":{"inherit":true},"className":"notification-toolbar"}} -->
<div class="notification-toolbar">
    <p class="leftalign">Visible Light is now accepting registrations for early adopters<span id="earlyLaunch" class="icon-notify"><a href="/early-adopter-registration">Register Now</a></span>.</p>
    <p class="rightalign"><a href="/auth">Log In</a> <span class="separator">|</span> <a href="/auth">Sign Up</a></p>
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","lock":{"move":false,"remove":true}} -->
<main class="wp-block-group">

<!-- wp:post-content {"layout":{"inherit":true},"lock":{"move":false,"remove":true}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer-container"} /-->
